body {
    background: #eaeaea;
}

header {
    background: #3f1c49;
    color: white;
    width: 100%;
    height: 80px;
    position: relative;
    margin: 0;
    padding: 0;
}

header nav {
    width: 980px;
    margin: auto;
}

header img {
    position: absolute;
    right: 10px;
    bottom: 0;
}

.logo {
    font-size: 30px;
    margin-top: 37px;
    display: inline-block;
}

header nav ul {
    list-style: none;
    float: right;
    margin: 52.6px auto 5px;
}

header nav ul li {
    float: left;
}

header nav ul li a {
    font-size: 14px;
    font-family: 宋体;
    margin-left: 28px;
    display: block;
    color: white;
    text-decoration: none;
}

.row1 {
    position: relative;
}

.row1 img {
    width: 100%;
}

.bannercontent {
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.5) 25%, rgba(255, 255, 255, 0.0) 100%);
    width: 340px;
    height: 90px;
    padding: 10px 10px 30px 10px;
    position: absolute;
    bottom: 0;
    right: 200px;
}

.bannercontent h2 {
    font-size: 14px;
    margin-bottom: 12px;
}

.bannercontent p {
    font-size: 12px;
    line-height: 1.5;
}

.row2 {
    background: #eaeaea;
    display: flex;
}

.container::after {
    content: "";
    display: block;
    clear: both;
}

.row2 .contentcontainer {
    margin: auto;
}

.row2 .contentblock {
    background: white;
    width: 320px;
    height: 360px;
    float: left;
    margin: 10px 5px;
}

.row2 .contentblock img {
    width: 300px;
    height: 180px;
    margin: 10px 10px;
}

.row2 .contentblock p {
    font-size: 12px;
    line-height: 1.7;
    padding: 15px 30px 25px;
    text-indent: 2em;
}

.row3 {
    text-align: center;
    margin-top: 100px;
    background: white;
    height: 520px;
}

.row3 img {
    max-width: 160px;
    border-radius: 80px;
    margin-top: -50px;
}

.row3content {
    width: 600px;
    margin: auto;
    margin-top: 50px;
}

.row3content h2 {
    font-size: 20px;
    font-family: Century Gothic;
}

.row3content p {
    font-size: 14px;
    text-indent: 2em;
}

footer {
    background: black;
    text-align: center;
    color: white;
}

footer nav {
    border: 1px solid #424343;
    text-align: center;
    height: 30px;
}

footer nav ul {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}

footer nav ul li {
    float: left;
    display: inline-block;
    margin-left: 10px;
}

footer nav ul li a {
    font-size: 14px;
    font-family: 宋体;
    display: block;
    color: white;
    text-decoration: none;
    line-height: 30px;
}

footer .link {
    display: inline-block;
    margin: 0 80px;
}

footer .link h2 {
    font-size: 12px;
    color: #ccc;
}

footer .link a {
    font-size: 12px;
    font-family: 宋体;
    color: white;
    text-decoration: none;
    display: block;
    line-height: 1.6em;
}

footer .link a:hover {
    text-decoration: underline;
}

.credit {
    margin-top: 40px;
}

.blog {
    margin-left: 190px;
    margin-top: 30px;
    float: left;
    width: 710px;
}

.blogbody {
    background: white;
    width: 670px;
    height: 330px;
    padding: 20px;
    position: relative;
    margin-bottom: 10px;
}

.blogbody h2 {
    font-size: 16px;
    color: #89229f;
    margin: 0;
}

.blogbody .subtitle {
    font-size: 12px;
    color: #666;
}

.blogbody p {
    font-size: 12px;
    color: #161616;
    padding: 0;
    margin: 0;
    text-indent: 2em;
}

.blogbody span {
    font-size: 12px;
    color: #8a8a8a;
    position: absolute;
    right: 40px;
    bottom: 40px;
}

.blogbody .blogside {
    color: white;
    position: absolute;
    left: -50px;
    top: 20px;
    text-align: center;
}

.blogside-date {
    background: #3f1c49;
    width: 50px;
    height: 40px;
    line-height: 40px;
}

.blogside-info {
    background: #9447a8;
    width: 50px;
    height: 40px;
    line-height: 40px;
}

.changepage {
    text-align: center;
    margin-bottom: 300px;
}

.changepage ul {
    list-style: none;
}

.changepage ul li {
    display: inline-block;
    background: white;
    padding: 8px 15px;
    margin-right: 10px;
}

.changepage ul li a {
    text-decoration: none;
    font-size: 12px;
}

.changepage .active {
    background: #9447a8;
}

.changepage .active a {
    color: white;
}

.side {
    float: left;
    margin-top: 30px;
    margin-left: 10px;
}

.side .search {
    background: white;
    width: 235px;
    height: 50px;
    padding: 10px;
}

.search input {
    height: 40px;
    width: 170px;
}

.search button {
    height: 45px;
    width: 50px;
}

.select {
    margin-top: 10px;
}

.select ul {
    list-style: none;
    background: white;
    padding: 0;
    margin: 0;
}

.select ul li {
    border-top: 1px solid #ccc;
    border-left: 3px solid #d3b1de;
    padding: 15px;
}

.select .active {
    border-left: 3px solid #3f1c49;
}

.calendar {
    background: white;
    margin-top: 10px;
    color: #ccc;
    font-size: 12px;
    padding: 30px;
}

.calendar table {
    border-collapse: collapse;
    text-align: center;
}

.calendar table th {
    color: #40005a;
    font-size: 14px;
}

.calendar .row {
    border-bottom: 1px solid #ccc;
}

.calendar th,
td {
    width: 25px;
    height: 25px;
}

.calendar .active {
    background: #5d276f;
    color: white;
}

.tag {
    background: white;
    margin-top: 10px;
    width: 216px;
    padding: 20px;
}

.tag span {
    font-size: 14px;
    color: #622874;
}

.tag .title {
    color: #ccc;
}

.tag .biggest {
    font-size: 30px;
}

.tag .bigger {
    font-size: 24px;
}

.tag .bold {
    font-weight: bold;
}

.tag .smaller {
    font-size: 10px;
}

.tab ul li {
    float: left;
    list-style: none;
    background: white;
    padding: 15px 20px 20px 20px;
    border: 1px solid #ccc;
    border-top: 4px solid black;
}

.tab .active {
    border-bottom: 0px;
}

.tab li:hover {
    box-shadow: 2px 2px 3px #ccc;
}

.tab a {
    text-decoration: none;
}

.gallery {
    float: left;
    margin-left: 140px;
}

.gallery-content {
    background: white;
    column-width: 180px;
    column-gap: 15px;
    width: 90%;
    max-width: 700px;
    margin-left: 40px;
    padding: 15px;
}

.gallery-content figure {
    background: #fefefe;
    border: 2px solid #fcfcfc;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    margin: 0 2px 15px;
    padding: 15px;
    padding-bottom: 10px;
    transition: opacity .4s ease-in-out;
    column-break-inside: avoid;
    display: inline-block;
}

.gallery-content figure img {
    width: 100%;
    height: auto;
}

.gallery-content figure figcaption h3 {
    font-size: 14px;
}

.gallery-content figure figcaption p {
    font-size: 12px;
}

.rank {
    background: white;
    padding: 10px;
    margin-top: 10px;
}

.rank .row {
    margin: 10px auto;
}

.rank h2 {
    font-size: 14px;
    color: #ddd;
    margin-bottom: 2 0px;
}

.rank .row span {
    display: block;
    width: 14px;
    height: 14px;
    background: #3f1c49;
    color: white;
    border-radius: 7px;
    font-size: 10px;
    text-align: center;
    float: left;
}

.rank .row .progressbar-border {
    float: left;
    width: 90px;
    border: 1px solid black;
    margin-left: 20px;
}

.progressbar {
    height: 15px;
    background: #3f1c49;
}

.rank .row p {
    float: left;
    display: inline;
    margin: 0;
    margin-left: 10px;
    font-size: 14px;
    color: #aaa;
}

.clickmore {
    background: white;
    margin-top: 10px;
    margin-left: 40px;
    width: 683px;
    padding: 20px;
    text-align: center;
    margin-bottom: 30px;
}

.clickmore a {
    text-decoration: none;
}
